[{:itonami.blueprint/social-impact [:worker-safety :public-health :recycling-diversion]
  :itonami.blueprint/domain :waste-management/refuse-sorting-facility-scheduling-logistics-coordination
  :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger]
  :itonami.blueprint/isco-08 "9612"
  :itonami.blueprint/name "Refuse Sorting Facility Scheduling and Logistics Coordination Practice"
  :itonami.blueprint/governor :refuse-sorter-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-9612"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
